<div class="container">
  <div class="row formulario">
    <app-formulario (productoCreado)="onProductoCreado($event)"></app-formulario>
  </div>
  <div class="row listas">
    <div class="izquierda">
      <app-lista-productos [listaProductos]="productosSeleccionados" (productoComprado)="onProductoComprado($event)" textoBoton="Comprar">
      </app-lista-productos>
    </div>
    <div class="derecha">
      <app-lista-productos [listaProductos]="productosComprados" (productoComprado)="onProductoDevuelto($event)" textoBoton="Devolver">
      </app-lista-productos>
    </div>
  </div>
</div>

